[build]
  publish = "public"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/login.html"
  status = 200
  conditions = {Role = ["admin"]}

[functions]
  node_bundler = "esbuild"

[dev]
  command = "npm run dev"
  port = 3000
  publish = "public"